//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

// Declaring color variables
$bg-black        : #1A1A1A;
$white : #fff;
$grey       : #2E2E2E;
$font-grey      : #959595;
$img-font-grey  : #525252;
$break-grey    : #E6E6E6;

// Declare breakpoints
$section-width: 960px;
$tablet-width: 768px;